{% extends "base.html" %}

{% load static %}

{% block title %}
  Misión y Visión
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock%}

{% block navbar %}
    {% include 'components/doctorado/navbar.html' %}
{% endblock%}

{% block content %}
<div class="container emp-profile">
    <div class="row justify-content-center align-items-center">
        <div class="container">
            <div class="text-center">
                <h5 style="color: rgb(39, 61,116);"><strong>Misión</strong></h5>
            </div>
            <p align="justify" class="p-1 font-weight-bold text-center"><p>Formar de manera integral profesionistas de excelencia en el campo de la ciencia y la tecnología con actitud emprendedora, respeto al medio ambiente y apego a los valores éticos.</p>
            <br><br>
            <div class="text-center">
                <h5 style="color: rgb(39, 61,116);"><strong>Visión</strong></h5>
            </div>
            <p align="justify" class="p-1 font-weight-bold text-center"><p>Ser una Institución de Excelencia en la Educación Superior Tecnológica del Sureste, comprometida con el desarrollo socioeconómico sustentable de la región.</p>
        </div>
    </div>
</div>
{% endblock%}

{% block footer %}
    {% include 'components/doctorado/footer.html'%}
{% endblock %}