{% extends "base.html" %}

{% block navbar%}
    {% include 'components/maestria/navbar.html' %}
{% endblock %}

{% block content %}

<div class="container" align="left">
    <div class="container mb-4" align="center" style="margin-top:20px;">
        {% for g in generacion %}
            {% if g.cohorte %}
                <img src="{{ g.cohorte.url }}" />
            {% endif %}
        {% endfor %}
    </div>
</div>

{% for estudiante in generacion %}
<div class="fte-tab table-responsive mt-4 mb-4">
    <div class="container" align="left">
        <div class="container" style="display:table; width:100%; height:30px; background: rgb(39, 61,116);">
            <p align="left" class="mt-2"><strong><a href="javascript:mostrarOcultarTablas('{{ estudiante.nombre }}')" class="dropdown-toggle text-white">{{ estudiante.nombre }}, {{estudiante.mes}} {{estudiante.ano}}</a></strong></p>
        </div>
        <div id="{{ estudiante.nombre }}"  class="table-responsive">
            <table class="table">
                <thead class="table-active">
                    <tr class="text-center" style="color: #343a40;">
                        <th>Estudiante</th>
                        <th>Tesis</th>
                        <th>Director</th>
                        <th>Codirector</th>
                        <th>N° de Acta y Fecha de Titulación</th>
                    </tr>
                </thead>
                <tbody class="container-fluid tableH1">
                    {% for alumno in estudiante.alumnos.all %}
                    <tr class="table" onclick="window.location.href='{% url 'estudiante-profile-maestria' pk=alumno.id %}'">
                        <td class="text-center"><a><strong>{{ alumno.nombre }} {{ alumno.apellidos }}</strong></a></td>
                        {% if alumno.tesis_estudiante %}
                            <td class="text-center"><STRONG>{{ alumno.tesis_estudiante }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if alumno.director_tesis %}
                            <td class="text-center"><STRONG>{{ alumno.director_tesis }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if alumno.codirector_tesis %}
                            <td class="text-center"><STRONG>{{ alumno.codirector_tesis }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if alumno.numero_acta %}
                            <td class="text-center"><STRONG>N° Acta: {{ alumno.numero_acta }} <br> Fecha titulación: {{ alumno.fecha_examen_grado }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block footer %}
    {% include 'components/maestria/footer.html' %}
{% endblock%}

{% block css%}
    <style type="text/css">
      .tableH1 tr:hover {
        background-color: #F5B041;
        cursor: pointer;
      }
    </style>
{% endblock%}

{% block js %}
<script>
    function mostrarOcultarTablas(id){
    mostrado=0;
    elem = document.getElementById(id);
    if(elem.style.display == 'block')mostrado=1;
    elem.style.display='none';
    if(mostrado!=1)elem.style.display='block';
    }
</script>
{% endblock %}