<div class="container mt-4">
    <div class="text-2 table-responsive" style="background: rgb(39, 61,116);">
        <div class="table-responsive mt-2">
            <div class="container container-sm container-md container-lg container-xl container-xxl" style="background: rgb(39, 61,116);">
                <div class="table-responsive text-center">
                    <table class="table text-white">
                        <tbody class="container container-sm container-md container-lg container-xl container-xxl" style="background: rgb(39, 61,116);">
                            <tr class="text-center">
                                <th><br>Nuestra Ubicación</th>
                                <th><br>Contáctanos</th>
                                <th><br>Siguenos en nuestras Redes Sociales</th>
                            </tr>
                            <tr>
                                <td class="text-3 text-center">
                                    <i class="fas fa-map-marked-alt fa-lg" style="margin-right:10px;"></i><a href="https://goo.gl/maps/zGgrtY15mydNnULD7" style="color: white; margin-top: -10px;">Carretera Panamericana Km. 1080,<br>
                                    <p style="margin-left:18px;">C.P. 29050, Apartado Postal: 599</p></a>
                                </td>
                                <td class="text-center text-white">
                                    <p class="text-3 text-center"> 
                                    <i class="far fa-envelope fa-lg" style="margin-right:10px;"></i><a class="fte-t7" href="mailto:posgrado.mcim@tuxtla.tecnm.mx" style="color:white">posgrado.mcim@tuxtla.tecnm.mx</a><br>
                                    <i class="fas fa-phone fa-lg" style="margin-right:10px;"></i><a class="fte-t7" href="tel:9616150380" style="color:white">(961)-615-0380, Ext: 325</a><br>
                                    </p>
                                </td>
                                <td class="text-3 text-center">
                                    <p style="margin-top:10px;"> 
                                    <a class="fte-t7" href="https://es-la.facebook.com/dciittg/" style="color:white"><i class="fab fa-facebook-f fa-sm fa-2x"></i></a>
                                    <a class="fte-t7" href="https://www.instagram.com/tecnm_ittg/?hl=es" style="color:white"><i class="fab fa-instagram fa-sm fa-2x" style="margin-left:10px"></i></a>
                                    <a class="fte-t7" href="https://twitter.com/tecnm_ittg?lang=es" style="color:white"><i class="fab fa-twitter fa-sm fa-2x" style="margin-left:10px"></i></a>
                                    <a class="fte-t7" href="https://www.tuxtla.tecnm.mx/" style="color:white"><i class="fas fa-globe-americas fa-sm fa-2x" style="margin-left:10px"></i></a>                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                    <p style="text-align: center; color:white;"> Copyright &copy; <script>document.write(new Date().getFullYear())</script> Posgrados en Ciencias en Ingeniería Instituto Tecnológico de Tuxtla Gutiérrez All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>