{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block title %}
    Maestría en Ciencias en Ingeniería Mecatrónica
{% endblock %}

{% block navbar %}
    {% include "components/maestria/navbar.html" %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <img width="90%" height="70%" class="img-fluid" alt="Responsive image" src="{% static 'img/dci_pnpc.jpg' %}">
    </div>            
    <br>
    <div class="w3-bar tab text-white p-1" style="background: rgb(39, 61,116);">
        <button class="w3-bar-item w3-button" onclick="openCity('tabs1')">Objetivos</button>
        <button class="w3-bar-item w3-button" onclick="openCity('tabs5')">Misión y Visión</button>
        <button class="w3-bar-item w3-button" onclick="openCity('tabs2')">Plan de estudios</button>
        <button class="w3-bar-item w3-button" onclick="openCity('tabs3')">Perfil Ingreso</button>
        <button class="w3-bar-item w3-button" onclick="openCity('tabs4')">Perfil Egreso</button>
        <button class="w3-bar-item w3-button" onclick="openCity('tabs6')">Requisito de Ingreso</button>
        <button class="w3-bar-item w3-button" onclick="openCity('tabs7')">Vinculación</button>
        <button class="w3-bar-item w3-button" onclick="openCity('tabs8')">Documentos y Formatos</button>
    </div>

    <div id="tabs1" class="w3-container city p-1">
        <p class="p-1">
            <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Objetivos Generales y Específicos</strong></h5>
            <p>
                <p class="p-1 justificar" align="justify">
                    El objetivo general del programa es  formar recursos humanos de alto nivel con la capacidad de
                    innovación en el desarrollo de proyectos de impacto social, científico y tecnológico, que integran
                    disciplinas que contemplan el diseño y control de sistemas optomecatrónicos, visión artificial, robótica
                    y  control de procesos, que coadyuven al crecimiento económico sostenido, ambiental y sustentable de
                    la región.    
                </p>
                <ul>
                    <li><p class="p-1 justificar" align="justify">
                        Formar investigadores que posean actitudes para trabajar en equipo multidisciplinario y multicultural
                        con liderazgo, sentido crítico, disposición al cambio y a la innovación y comprometido con la calidad.
                    </p></li>
                    <li><p class="p-1 justificar" align="justify">
                        Formar Maestros en Ciencias que les permita adquirir competencias y habilidades para generar 
                        conocimiento de la Ingeniería Mecatrónica.
                    </p></li>
                    <li><p class="p-1 justificar" align="justify">
                        Uso de las tecnologías de la información que fortalezcan el programa académico y centren el 
                        aprendizaje en los estudiantes, con fundamentos en Matemáticas y Estadística.   
                    </p></li>
                </ul>
            </p>
        </p>
    </div>
    <div id="tabs2" class="w3-container city p-1" style="display:none">
      <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Plan de Estudios</strong></h5>
        <ul>
            <li>Duración del plan de estudio: 2 años (24 meses)</li>
            <li>No. de semestres: 04</li>
            <li>Recepción de solicitudes: Todo el año</li>
            <li>Periodicidad de admisión: Anual</li>
            <li>Períodos de selección y entrevistas: Febrero a Junio</li>
        </ul>
        <p class="p-1 justificar" align="justify">
            El mapa curricular está organizado de manera tal que contempla la formación 
            integral para garantizar las competencias necesarias en el desarrollo de sistemas 
            mecatrónicos, en particular de la línea de investigación en donde se desarrolla la 
            tesis: Automatización de Procesos o Sistemas Optomecatrónicos.
        </p>
        <p class="p-1 justificar" align="justify">
            La Estructura General del Plan de Estudios incluyendo las asignaturas 
            optativas, está diseñada por créditos SATCA y es la siguiente:
        </p>
        <br>
        <p align="center">
            <img src="{% static 'img/plan_estudios_mcim.png' %}" width="70%" height="70%" />
        </p>
        <br>
        <p align="center">
            <table class="table">
                <thead class="table-active">
                    <tr class="text-center" style="color: #343a40;">
                        <th>Materias Optativas</th>
                    </tr>
                </thead>
                <tbody class="container-fluid tableH1">
                    <tr class="table">
                        <td class="text-center">Control inteligente de sistemas mecatrónicos</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Control de procesos</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Manufactura asistida por computadora</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Robótica</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Optoelectrónica</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Temas selectos de ingeniería mecatrónica I</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Temas selectos de ingeniería mecatrónica II</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Tópico avanzados de ingeniería mecatrónica</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Diagnóstico de fallas</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Electrónica de potencia</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Análisis y procesamiento de imágenes</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Diseño mecánico</td>
                    </tr>
                    <tr class="table">
                        <td class="text-center">Sensores y actuadores inteligentes</td>
                    </tr>
                </tbody>
            </table>    
        </p>
    </div>
    <div id="tabs3" class="w3-container city p-1" style="display:none">
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Perfil de Ingreso</strong></h5>
        <p class="p-1 justificar" align="justify">
            Se desea que el aspirante a ingresar a la maestría en ciencias en ingeniería mecatrónica sea egresado
            de las ingenierías de Electrónica, Sistemas Computacionales, Mecánica, Mecatrónica, y carreras afines,
            además cuente con con competencias, habilidades, valores y conocimientos que permitan evidenciar el
            compromiso para la obtención del grado de maestría y tener aptitudes para la investigación, innovación
            y desarrollo de proyectos.  Además, el candidato deberá cumplir con los siguientes requisitos:
        </p>
        <ul>
            <li><p class="p-1 justificar" align="justify">Estar titulado</p></li>
            <li><p class="p-1 justificar" align="justify">Certificado de estudios de licenciatura con un promedio general mínimo de 8.0 o equivalente.</p></li>
            <li><p class="p-1 justificar" align="justify">Acreditar el examen CENEVAL EXANI-III.</p></li>
            <li><p class="p-1 justificar" align="justify">Presentar currículum vitae.</p></li>
            <li><p class="p-1 justificar" align="justify">Demostrar comprensión del idioma inglés mediante la comprensión de artículos técnicos-científicos.</p></li>
            <li><p class="p-1 justificar" align="justify">Solicitud de ingreso con exposición de motivos.</p></li>
            <li><p class="p-1 justificar" align="justify">
                Demostrar capacidad de análisis, trabajo en equipo, actitud, disponibilidad para el desarrollo 
                proyectos de investigación, los cuales se evalúan mediante entrevista con el consejo de posgrado de
                la MCIM.
            </p></li>
            <li><p class="p-1 justificar" align="justify"> Dos cartas de recomendación de profesores y/o investigadores en formato abierto.</p></li>
            <li><p class="p-1 justificar" align="justify">Los estudiantes extranjeros deberán cumplir con los requisitos estipulados por SRE y el TecNM.</p></li>
        </ul>
    </div>
    <div id="tabs4" class="w3-container city p-1" style="display:none">
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Perfil de Egreso</strong></h5> 
        <p class="p-1 justificar" align="justify">
            El egresado de la Maestría en Ciencias en Ingeniería Mecatrónica será capaz de generar
            conocimientos científicos y tecnológicos a través del planteamiento y desarrollo de trabajo de
            investigación en las áreas de automatización y control, sistemas optomecatrónicos, visión artificial,
            robótica, además contar con las siguientes competencias:
        </p>
        <ul>
            <li><p class="p-1 justificar" align="justify">
                Participar en trabajos multidisciplinarios de investigación científica y tecnológica aplicando 
                sus conocimientos y metodologías de forma original e innovadora.
            </p></li>
            <li><p class="p-1 justificar" align="justify">
                Detectar y analizar problemas de relevancia en procesos productivos, planteando nuevas 
                alternativas de solución.
            </p></li>
            <li><p class="p-1 justificar" align="justify">
                Participar en actividades docentes a nivel de licenciatura y posgrado en instituciones de 
                educación superior y en centros de investigación, así como continuar con estudios doctorales.
            </p></li>
            <li><p class="p-1 justificar" align="justify">
                Se incorporará al sector industrial en las áreas de diseño y control de procesos, así como en 
                las de calidad y servicio de los productos.
            </p></li>
        </ul>
    </div>
    <div id="tabs5" class="w3-container city p-1" style="display:none">
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Misión</strong></h5> 
        <p class="p-1 justificar" align="justify">
            Formar de manera integral profesionistas de excelencia en el campo de la ciencia y la tecnología con actitud emprendedora, respeto al medio ambiente y apego a los valores éticos.
        </p>
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Visión</strong></h5> 
        <p class="p-1 justificar" align="justify">
            Ser una Institución de Excelencia en la Educación Superior Tecnológica del Sureste, comprometida con el desarrollo socioeconómico sustentable de la región.
        </p>
    </div>
    <div id="tabs6" class="w3-container city p-1" style="display:none">
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Requisitos y Antecedentes de Ingreso de los Candidatos</strong></h5> 
        <p>
            <p class="p-1 justificar" align="justify">
              La recepción de solicitudes se realiza durante todo el año, y el coordinador 
              de la maestría revisa que la documentación cumpla con los siguientes 
              requisitos de ingreso que se solicitan:    
            </p>
            <ul>
              <li>
                Título de Licenciatura y cédula profesional o acta de examen profesional</li>
              <li>
                Certificado de estudios de licenciatura con un promedio general mínimo de 8.0 o equivalente.</li>
              <li>
                Acreditar el examen CENEVAL EXANI-III.</li>
              <li>
                Currículum vitae con comprobantes.</li>
              <li>
                Comprensión del idioma inglés principalmente de artículos técnicos-científicos.</li>
              <li>
                Solicitud de ingreso con exposición de motivos.</li>
              <li>
                Aprobar la entrevista de diagnóstico con el consejo de posgrado de la MCIM.</li>
              <li>
                Dos cartas de recomendación académicas de profesores y/o investigadores</li>
            </ul>
            <p class="p-1 justificar" align="justify">
              Una vez que se ha notificado la aceptación al aspirante debe entregar la documentación siguiente:
            </p>
            <ul>
              <li>Acta de nacimiento</li>
              <li>Título de licenciatura</li>
              <li>Certificado de estudios profesionales o constancia de estudios con calificaciones y promedio final</li>
              <li>Certificado médico de instituciones públicas</li>
              <li>Credencial de elector</li>
              <li>CURP</li>
              <li>Comprobante de  domicilio</li>
              <li>6 fotografías tamaño infantil de frente</li>
              <li>Llenar solicitud de nuevo ingreso</li>
            </ul>
            <p class="p-1 justificar" align="justify">
              Presentar los originales de los documentos que correspondan y dos copias de cada uno.
            </p>
          </p>
        </p>
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Requisitos de la Permanencia en el Programa</strong></h5> 
        <p>
            <ul>
            <li>Inscribirse en el periodo correspondiente durante todo el programa, hasta la obtención del grado.</li>
            <li>Dedicar tiempo completo para la realización de sus estudios.</li>
            <li>No abandonar sus estudios mayor a seis meses sin previa autorización del Jefe de la DEPI.</li>
            <li>Las bajas temporales y definitivas serán solicitadas al coordinador y valoradas por el consejo académico del Posgrado.</li>
            <li>La calificación mínima aprobatoria será de 70, sin embargo deberá mantener un promedio general mínimo de 80.</li>
            <li>No reprobar en dos ocasiones una misma asignatura o reprobar dos asignaturas diferentes.</li>
            <li>Presentar los avances de su proyecto de investigación cuando sea requerido por el comité tutorial, avalado por el director de tesis.</li>
            <li>Presentar y aprobar sus seminarios de protocolo, avances y terminación, además de sus respectivos comités tutoriales.</li>
            <li>Observar las disposiciones reglamentarias para el buen funcionamiento de la institución y no ser sujeto de sanciones por parte de las autoridades competentes.</li>
            <li>Todas las demás estipuladas en el normativo del TecNM y el reglamento interno.</li>
            </ul>
        </p>
        </p>
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>
            <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Requisitos para la Obtención de Grado Académico</strong></h5>  
        <p>
            <ul>
            <li>Cubrir el 100% de los créditos del programa.</li>
            <li>Obtener un promedio mínimo general de 80/100 (ochenta).</li>
            <li>Aprobar el examen de grado.</li>
            <li>Cumplir con las disposiciones indicadas en el manual de operación de estudios de posgrado del TecNM.</li>
            </ul>
        </p>
        </p>
        <p>------------------------------------------------------------------</p>
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Información para Extranjeros</strong></h5>
        <p class="p-1 justificar" align="justify">
            Además de los requisitos mencionados arriba, los candidatos extranjeros deberán cumplir con lo siguiente:
        </p>
        <p>
            <ul>
                <li>1. Se recomienda que el proceso de admisión se realicé al menos con cuatro meses de anticipación, puesto que deberán realizar trámites migratorios en las oficinas de relaciones exteriores.</li> 
                <li>2. Los candidatos extranjeros están exentos del examen CENEVAL, pero deberán acreditar con un promedio mínimo de 80 el examen de matemáticas, el cual se les aplicará en línea. </li>
                <li>3. Aprobar la defensa de la propuesta de doctorado, la cual se realizará en línea en alguna plataforma como MS Teams o Google Meet. </li>
                <li>4. En caso de ser admitidos, con la carta de aceptación del programa deberán tramitar el documento migratorio que acredite su estancia en México, para lo cual deberán solicitar desde su país de origen el tipo de VISA RESIDENTE TEMPORAL ESTUDIANTE y a partir de su llegada al país tienen 180 días para efectuar el trámite ante el Instituto Nacional de Migración (INM); además se notificará a CONACyT para solicitar la beca de manutención.</li>
                <li>5. A su ingreso a México deberán presentar  original y copia del documento migratorio que acredite su estancia en el país, así como los originales  mencionados en “Requisitos y Antecedentes de Ingreso de los Candidatos”.</li>
            </ul>
        </p>
    </div>
    <div id="tabs7" class="w3-container city p-1" style="display:none">
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Vinculación</strong></h5> 
        <p class="p-1" align="justify">
            La vinculación se mantiene de manera constante con la finalidad de potenciar 
            nuestras fortalezas con las de las empresas e instituciones. Así, varios de nuestros
            proyectos de investigación se encuentran asociados con empresas y organismos, y para 
            otros en desarrollo se buscan asociaciones para la aplicación o el trabajo conjunto interinstitucional y multidisciplinario.
        </p><br>
        <p class="p-1" align="justify">
            La vinculación del posgrado se ha dado con empresas, centros de 
            investigación, instituciones gubernamentales y otras instituciones de 
            educación superior, teniendo como principales objetivos el desarrollo de 
            proyectos de investigación, innovación y desarrollo tecnológico; incluyendo 
            siempre de manera preponderante la formación de recursos humanos de posgrados 
            de alto nivel.
        </p><br>
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Beneficios</strong></h5> 
        <p class="p-1" align="justify">
            La Maestría en Ciencias en Ingeniería Mecatrónica es un programa que busca 
            continuamente la vinculación con el sector productivo público, privado y otros 
            posgrados a nivel local, regional e internacional para fortalecer los lazos de 
            colaboración con los actores de la sociedad; estos convenios de colaboración son el 
            marco macro y especifico, respectivamente; con ellos, los beneficios tangibles que 
            buscamos son la participación de los estudiantes e investigadores del posgrado en 
            proyectos de investigación y/o aplicación que permiten adquirir el conocimiento en la 
            solución de problemas, co-financiamiento de los proyectos de tesis, co-direcciones de 
            tesis internos y externos con centros de investigación (CINVESTAV, UNAM, INAOE, 
            CENIDET, UNICACH, UNACH); extranjeros como: La universidad de Lorraine (Francia), La
            Universidad Politécnica de Cataluña (España), Universidad Nacional Tecnológica de 
            Lima Sur (Perú), La Universidad Tecnológica de Honduras, entre otros.
        </p><br>
        <p class="p-1" align="justify">
            En consecuencia, estas colaboraciones contribuyen a la generación de ideas motoras 
            para la realización de tesis a nivel maestría, lo cual impacta en la formación profesional
            del estudiante, quien adquiere experiencia, genera aplicación del conocimiento en los 
            proyectos específicos. Importante desacatar que algunos de nuestros egresados han 
            encontrado nichos de oportunidad en los centros de investigación donde han realizado 
            su estancia.
        </p><br>
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Coordinador</strong></h5> 
        <p class="p-1" align="justify">
            Dr. Rubén Grajales Coutiño<br>
            I.T. de Tuxtla Gutiérrez<br>
            Carretera Panamericana km 1080. Tuxtla Gutiérrez, Chiapas. C.P. 29000<br>
            Correo electrónico: <a href="mailto:rgrajales@tuxtla.tecnm.mx" >rgrajales@tuxtla.tecnm.mx</a><br>
            Teléfono: <a href="tel:9616150461" >9616150380</a> Ext. 325.
        </p>
    </div>
    <div id="tabs8" class="w3-container city p-1">
        <h5 class="p-1" style="color: rgb(39, 61,116);"><strong>Documentos y Formatos</strong></h5> 
        <p>
            <ul>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Reglamento_MCIM2022.pdf'%}" target="_blank">Reglamento interno del posgrado</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Formato_Evaluacion_Desempeno_Becario.doc'%}" target="_blank">Formato para informe semestral de beca </a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="https://www.youtube.com/watch?v=SoNIRiW_y60" target="_blank">Tutorial para subir informe semestral de beca CONACYT</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/04_Formato_Reanudacion_Beca.doc'%}" target="_blank">Formato de reanudación de beca</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Formato_Suspencion_Beca.doc'%}" target="_blank">Formato de suspensión de beca</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/formato_cancelacion_beca.doc'%}" target="_blank">Formato de cancelación de beca</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Formato_Final.docx'%}" target="_blank">Formato de evaluación de comité tutorial final </a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Formato_Parcial.docx'%}" target="_blank">Formato de evaluación de comité parcial de tesis</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Formato_resultados_TemasTesis.docx'%}" target="_blank">Formato de evaluación de resultados de tesis</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Formato_resultados_finales.docx'%}" target="_blank">Formato de resultados finales</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="http://bit.ly/tesisDCI" target="_blank">Formato de tesis en Latex</a>
                </p></li>
                <li><p class="p-1 justificar" align="justify">
                    <a href="{% static 'download/DocumentosMCIM/Tesis_Maestria.docx'%}" target="_blank">Formato de tesis en word</a>
                </p></li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "components/maestria/footer.html"%}
{% endblock %}

{% block js %}
<script>
    function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        document.getElementById(cityName).style.display = "block";  
    }
</script>
{% endblock %}