{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ linea.nombre }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock%}

{% block navbar %}
    {% include 'components/maestria/navbar.html' %}
{% endblock%}

{% block content %}
<div class="container-fluid mt-4" >
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 col-md-10 col-sm-10 col-xxl-12 col-xl-12 mb-4">
            <img  style="width:70%" class="mx-auto d-block" class="mb-4 rounded" src="{{ linea.imagen_lin.url }}" width="600" height="400" >
            <div class="mt-4 text-descripcion text-3" align="justify">
                <p class="text-center" style="color: rgb(39, 61,116);"><strong>{{ linea.nombre }}</strong></p>
                <p>{{ linea.descripcion }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4" align="center">
    <div class="container">
        <div class="mt-4 text-descripcion text-3">
            <p align="center" class="mt-2" style="color: rgb(39, 61,116);"><strong>Docentes del Núcleo Académico Básico</strong></p>
        </div>
    </div>
</div>
{% for a in docentes %}
{% if a.linea.nombre == linea.nombre %}
<div class="fte-tab table-responsive mt-4 mb-4">
    <div class="container" align="left">
        <div class="mt-4 text-descripcion text-3" align="justify">
            <p align="left" style="color: rgb(39, 61,116);"><strong>Docentes de {{ a.nombre }}</strong></p>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-active">
                    <tr class="text-center font-weight-bold">
                    <th>Docente</th>
                    <th>Formación Profesional</th>
                    <th>Expertise</th>
                    <th>SNI</th>
                    <th>Correo</th>
                    </tr>
                </thead>
                <tbody class="container-fluid tableH1">
                    {% for docente in a.docentes.all %}
                    <tr class="table" onclick="window.location.href='{% url 'docente-profile-maestria' pk=docente.id %}'">
                        <td class="text-center"><a><strong>{{ docente.grado }}. {{ docente.nombre }} {{ docente.apellidos }}</strong></a></td>
                        {% if docente.formacion_profesional %}     
                            <td class="text-center"><STRONG>{{ docente.formacion_profesional }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if docente.expertise %}     
                            <td class="text-center"><STRONG>{{ docente.expertise }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if docente.sni %}     
                            <td class="text-center"><STRONG>{{ docente.sni }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if docente.email %}     
                            <td class="text-center"><STRONG><a href="mailto:{{ docente.email }}">{{ docente.email }}</a></STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% for b in maestros %}
{% if b.linea.nombre == linea.nombre %}
<div class="fte-tab table-responsive mt-4 mb-4">
    <div class="container" align="left">
        <div class="mt-4 text-descripcion text-3" align="justify">
            <p align="left" style="color: rgb(39, 61,116);"><strong>Docentes de {{ b.nombre }}</strong></p>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-active">
                    <tr class="text-center font-weight-bold">
                    <th>Docente</th>
                    <th>Formación Profesional</th>
                    <th>Expertise</th>
                    <th>SNI</th>
                    <th>Correo</th>
                    </tr>
                </thead>
                <tbody class="container-fluid tableH1">
                    {% for docente in b.docentes.all %}
                    <tr class="table" onclick="window.location.href='{% url 'docente-profile-maestria' pk=docente.id %}'">
                        <td class="text-center"><a><strong>{{ docente.grado }}. {{ docente.nombre }} {{ docente.apellidos }}</strong></a></td>
                        {% if docente.formacion_profesional %}     
                            <td class="text-center"><STRONG>{{ docente.formacion_profesional }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if docente.expertise %}     
                            <td class="text-center"><STRONG>{{ docente.expertise }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if docente.sni %}     
                            <td class="text-center"><STRONG>{{ docente.sni }}</STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                        {% if docente.email %}     
                            <td class="text-center"><STRONG><a href="mailto:{{ docente.email }}">{{ docente.email }}</a></STRONG></td>
                        {% else %}
                            <td class="text-center"><STRONG>-</STRONG></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock%}

{% block footer %}
    {% include 'components/maestria/footer.html'%}
{% endblock %}

{% block js %}
    <style type="text/css">
      .tableH1 tr:hover {
        background-color: #F5B041;
        cursor: pointer;
      }
    </style>
{% endblock%}