{% extends "base.html" %}

{% load static %}

{% block title %}
  Perfil de {{ docente.nombre }} {{ docente.apellidos }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock%}

{% block navbar %}
    {% include 'components/maestria/navbar.html' %}
{% endblock%}

{% block content %}
<!--<div class="container" align="center" style="margin-top:50px;">
    <div class="container">
        <h4 align="center" class="mt-4">Docente - Investigador: {{ docente.grado }}. {{ docente.nombre }} {{ docente.apellidos }}</h4>
    </div>
</div>-->

<div class="container emp-profile" >
    <div class="row justify-content-center align-items-center">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        {% if docente.fotografia %}
                            <div class="profile-img">
                                <img class="mb-4 rounded mx-auto d-block" width="200" height="200" src="{{ docente.fotografia.url }}" alt="{{ docente.nombre }}"/>
                            </div>
                        {% endif %}
                        </div>
                        <div class="col-md-9 col-sm-9 col-lg-9">
                            <div class="profile-head">
                                <h5 class="p-1" style="color: rgb(39, 61,116); margin-left: -5px;"><strong>{{ docente.grado }}. {{ docente.nombre }} {{docente.apellidos }}</strong></h5> 
                                <p class="text-5" style="margin-top: 1px;">{{ docente.formacion_profesional }}</p>
                            </div>
                            <p class="text-3">
                                <i class="far fa-envelope fa-sm" style="margin-right:10px;"></i><a class="text-3 fte-t7" href="mailto:{{ docente.email }}" style="margin-right:10px;">{{ docente.email }}</a>
                                {% if docente.perfil_researchgate %}
                                <i class="far fa-user-circle fa-sm"   style="margin-right:10px;"></i><a class="text-3 fte-t7" href="{{ docente.perfil_researchgate }}" style="margin-right:10px;">Researchgate</a>
                                {% endif %}
                                {% if docente.scholar_google %}
                                    <i class="far fa-user-circle fa-sm" style="margin-right:10px;"></i><a class="text-3 fte-t7" href="{{ docente.scholar_google}}" >Scholar Google</a>
                                {% endif %}
                                {% if docente.personal_page %}
                                <i class="fa fa-globe fa-sm" style="margin-right:10px;"></i><a class="text-3 fte-t7" href="{{ docente.personal_page}}" >Pagina Personal</a>
                                {% endif %}
                            </p>
                            <div>
                                <p class="text-3" align="justify">{{ docente.descripcion|safe }}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block footer %}
    {% include 'components/maestria/footer.html'%}
{% endblock %}