{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block title %}
    Instrucciones para restablecer contraseña
{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xxl-8 col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="text-lg-center text-md-center text-sm-center">
                    <img class="mb-4 rounded mx-auto d-block" src="{% static 'img/tecnm.jpg' %}" width="140" height="140">
                </div>
                <div class="text-lg-center text-md-center text-sm-center">
                    <p style="font-size: 18px; text-align:justify;">
                        Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
                    </p>
                    <p style="font-size: 18px; text-align:justify;">
                        Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}